*{
    padding: 0;
    margin: 0;
}
body{
   transition: 0.3s;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    
    justify-content:center;
    align-items: center;
    
}
.box{
    width: 50vw;
    height: 20vh;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: center;
    padding:10px;
    margin: 10px;
}
#btn{
    margin: 30px;
    width:80%;
    height: 40px;
}
#btn:hover{
    background-color: aquamarine;
    border-radius: 30px;
}